APP_ENV=prod
APP_SECRET=your_app_secret_here_run_openssl_rand_hex_32
DATABASE_URL=postgresql://db_user:db_password@host/db_name?serverVersion=16&charset=utf8&sslmode=require
DEFAULT_URI=https://your-app.onrender.com
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=vite_gourmand_stats
MAILER_DSN=smtp://username:password@smtp.mailtrap.io:2525
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
ORS_API_KEY=your_openrouteservice_api_key_here
